@page "/employeedetail/{EmployeeId}"
@inherits EmployeeDetailBase

<h1 class="page-title"> Details for @Employee.FirstName @Employee.LastName </h1>



<div class="col-12 row">
    <div class="col-2">
        <img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{ @Employee.EmployeeId}.jpg")" class="img-responsive rounded-circle employee-detail-img" />
    </div>
    <div class="col-10 row">
        <div class="col-xs-12 col-sm-8">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Employee ID</label>
                <div class="col-sm-8">
                    <label type="text" class="form-control-plaintext">@Employee.EmployeeId</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">First name</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Employee.FirstName</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Last name</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Employee.LastName</label>
                </div>
            </div>
        </div>
    </div>
</div>