@page
@model CigarAndDrinksSelector.Pages.LiquorsModel
@{
    ViewData["Title"] = "Liqors 90 Pluse Rated 2020";
}


<form>
    <label>Find your Poison</label>
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" value="" name="searchLiqors"/>
            <span class="input-group-btn">
                <button class="btn btn-danger">
                    Search for Poisons
                </button>
            </span>
        </div>
    </div>
</form>

<div class="text-center">
    <h1 class="display-4">Staff Pick Alcohols 2020</h1>
    @Model.CustomMessage <br>
    @Model.Brands <br />
    <table class="table">
    @foreach (var liq in Model.Liqors)
    {
        <tr>
            <td>@liq.Company</td>
            <td>@liq.Name</td>
            <td>@liq.Age</td>
            <td>@liq.Year</td>
        </tr>
    }
    </table>
    <p>Learn about <a href="https://www.acespirits.com">Shop for these here</a>.</p>
</div>


    
